<!-- Begin Mailchimp Signup Form -->
<div id="">
	<form action="https://datesanddice.us17.list-manage.com/subscribe/post?u=047a820d5abb749af5688bd3a&amp;id=e4b03493e3&amp;f_id=00ad63e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
		<div id="">
			<h2 class="title is-size-2">Hou me op de hoogte</h2>

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label" for="mce-EMAIL">Emailadres<span class="asterisk has-text-danger">*</span></label>
				</div>
				<div class="field-body">
					<div class="field">
						<input type="email" value="" name="EMAIL" class="input required email" id="mce-EMAIL" required>
						<p id="mce-EMAIL-HELPERTEXT" class="help helper_text">We willen je graag verwelkomen</p>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label" for="mce-FNAME">Voornaam<span class="asterisk has-text-danger">*</span></label>
				</div>
				<div class="field-body">
					<div class="field">
						<input type="text" value="" name="FNAME" class="input required" id="mce-FNAME" required>
						<p id="mce-FNAME-HELPERTEXT" class="help helper_text">Zodat we weten hoe we je moeten aanspreken</p>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label" for="mce-LNAME">Achternaam </label>
				</div>
				<div class="field-body">
					<div class="field">
						<input type="text" value="" name="LNAME" class="input" id="mce-LNAME">
						<p id="mce-LNAME-HELPERTEXT" class="help helper_text">Deze mag je invullen, maar het moet niet</span>
					</div>
				</div>
			</div>

			<div hidden="true" class="is-hidden"><input type="hidden" name="tags" value="6500938"></div>

			<div id="mce-responses" class="clear foot">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_047a820d5abb749af5688bd3a_e4b03493e3" tabindex="-1" value=""></div>
			<div class="optionalParent field is-horizontal">
				<div class="field-label is-normal">
				</div>
				<div class="clear foot field-body mt-3">
					<input type="submit" value="Klinkt interessant" name="subscribe" id="mc-embedded-subscribe" class="button is-primary">
					<p class="brandingLogo is-hidden"><a href="http://eepurl.com/igGU5L" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
				</div>
			</div>
		</div>
	</form>
</div>

<!--End mc_embed_signup-->
